<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClrYPplAd9dEuYpXqHgiIK41FvfzQPQ0w</string>
	<key>GCM_SENDER_ID</key>
	<string>189033146387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.transep</string>
	<key>PROJECT_ID</key>
	<string>transep-cf31b</string>
	<key>STORAGE_BUCKET</key>
	<string>transep-cf31b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189033146387:ios:71213d2bed30b82fb437e6</string>
</dict>
</plist>